## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here
print("lista random de valores entre 0 y 100")
sample_list_1 = random.sample(range(0,101), 80)
print(sample_list_1)

lista random de valores entre 0 y 100
[8, 54, 91, 84, 65, 41, 29, 70, 40, 76, 78, 1, 3, 0, 33, 77, 20, 50, 10, 63, 55, 74, 24, 49, 28, 6, 31, 92, 80, 32, 83, 2, 48, 44, 86, 23, 35, 81, 71, 58, 30, 18, 47, 69, 82, 98, 34, 16, 13, 56, 15, 73, 38, 93, 7, 61, 51, 95, 60, 59, 11, 5, 90, 68, 27, 75, 52, 25, 9, 100, 4, 21, 36, 22, 19, 85, 87, 57, 46, 39]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [12]:
# Your code here
print("type sample_list_1: ",type(sample_list_1))

set1= set(sample_list_1)
print("len set1",len(set1))

type sample_list_1:  <class 'list'>
len set1 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [13]:
# Your code here
print("lista_2 random de valores entre 0 y 100")
sample_list_2 = random.sample(range(0,101), 80)
print(sample_list_2)

lista_2 random de valores entre 0 y 100
[10, 24, 32, 64, 19, 98, 82, 23, 5, 56, 76, 38, 51, 80, 12, 99, 47, 16, 7, 44, 52, 69, 13, 37, 59, 92, 83, 78, 100, 90, 1, 45, 89, 60, 93, 74, 57, 88, 4, 49, 79, 96, 54, 70, 29, 35, 81, 72, 26, 11, 53, 42, 48, 22, 61, 34, 20, 30, 39, 41, 46, 86, 14, 9, 85, 17, 87, 73, 63, 40, 43, 65, 0, 58, 95, 62, 25, 67, 27, 6]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [14]:
# Your code here
print("type sample_list_2: ",type(sample_list_2))

set2= set(sample_list_2)
print("len set2",len(set2))

type sample_list_2:  <class 'list'>
len set2 80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [15]:
# Your code here
set3 = set1 - set2
print(set3)

{33, 2, 3, 36, 68, 71, 8, 75, 77, 15, 18, 50, 84, 21, 55, 91, 28, 31}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [16]:
# Your code here
set4 = set2 - set1
print(set4)

{64, 96, 67, 99, 37, 72, 42, 43, 12, 45, 14, 79, 17, 53, 88, 89, 26, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [19]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 1, 4, 5, 6, 7, 9, 10, 11, 13, 16, 19, 20, 22, 23, 24, 25, 27, 29, 30, 32, 34, 35, 38, 39, 40, 41, 44, 46, 47, 48, 49, 51, 52, 54, 56, 57, 58, 59, 60, 61, 63, 65, 69, 70, 73, 74, 76, 78, 80, 81, 82, 83, 85, 86, 87, 90, 92, 93, 95, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [23]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
80
18
18
62

#### Create an empty set called `set6`.

In [24]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [28]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 44, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 63, 65, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 95, 98, 100}

#### Check if `set1` and `set6` are equal.

In [29]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [33]:
# Your code here
print("It is ", set2.issubset(set1), "that set2 is a subset of set1")
print("It is ", set3.issubset(set1), "that set3 is a subset of set1")

It is  False that set2 is a subset of set1
It is  True that set3 is a subset of set1

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [37]:
# Your code here
set7 = set3.union(set4,set5)
set8 = set7.union(set1,set2)
print(set8)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [39]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [42]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for number in list_to_remove:
    set1.discard(number)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 13, 15, 16, 18, 20, 22, 23, 24, 25, 27, 28, 30, 32, 33, 34, 35, 36, 38, 40, 44, 46, 47, 48, 50, 52, 54, 55, 56, 57, 58, 60, 63, 65, 68, 70, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 90, 92, 93, 95, 98, 100}